@model IEnumerable<Academia.Entities.cursos>


@{
    ViewBag.Title = "Cursos";
    var usuario = TempData["Usuario"] as Academia.Entities.usuarios;
    
}

<h1>@Html.DisplayNameFor(model => model.materias.desc_materia)</h1>
<h2>Cursos</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_comision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anio_calendario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cupo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_comision)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_curso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.anio_calendario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cupo)
    </td>
    <td>
       @* @Html.ActionLink("Registrar", "Edit", new { idAlumno = usuario.id_persona, idCurso = item.id_curso })*@
        @Html.ActionLink("Registrarme", "InscribirAlumno", "Curso", new { idAlumno = usuario.id_persona, idCurso = item.id_curso }, null)

    </td>
</tr>
}

</table>
