@model IEnumerable<Academia.Entities.materias>

@{
    ViewBag.Title = "Asignaturas";
}

<h2>Asignaturas</h2>

<table class="table">
    <tr>
        <th>
            Plan
        </th>
        <th>
           Asignatura
        </th>
        <th>
           Hs semanales
        </th>
        <th>
           Hs totales
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.planes.desc_plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc_materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hs_semanales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hs_totales)
            </td>
            <td>
                @Html.ActionLink("Inscribirme", "Cursos", new { idMateria = item.id_materia }) 
            </td>
        </tr>
    }

</table>
