@model Academia.Entities.cursos

@{
    ViewBag.Title = "Details";
    var usuario = Session["User"] as Academia.Entities.usuarios;

}

<h2>Curso</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID Asignatura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_materia)
        </dd>

        <dt>
            Comisión
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_comision)
        </dd>

        <dt>
            Año
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anio_calendario)
        </dd>

        <dt>
            Nombre asignatura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_materia)
        </dd>

        <dt>
            Alumnos inscriptos
        </dt>

        <dd>
            @Html.ActionLink("Ver", "AlumnosInscriptos", "Curso", new { idCurso = Model.id_curso }, null)
        </dd>

    </dl>
</div>

<div class="text-center">
    <h4>
        @Html.ActionLink("Volver", "Inscripciones", "Usuario", new { id = usuario.id_persona }, null)
    </h4>
</div>
