@model Academia.Entities.alumnos_inscripciones

@{
    ViewBag.Title = "Inscripcion";
    var usuario = Session["User"] as Academia.Entities.usuarios;
    var queTengo = Model;
}

<h2>Inscripcion</h2>

<div class="">
    <h2>Comprobante Nº: @Html.DisplayFor(model => model.id_inscripcion)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nº Curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_curso)
        </dd>
        <dt>
            Legajo
        </dt>

        <dd>
            @usuario.personas.legajo
        </dd>

        <dt>
            Condición
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicion)
        </dd>

        <dt>
            Nota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

    </dl>
</div>
