@model IEnumerable<Academia.Entities.alumnos_inscripciones>

@{
    ViewBag.Title = "Inscripciones";
}

<h2>Inscripciones</h2>

<table class="table">
    <tr>
        <th>
            Nº Curso
        </th>
        <th>
            Asignatura
        </th>
        <th>
            Condicion
        </th>
        <th>
            Nota
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cursos.id_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cursos.materias.desc_materia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.condicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota)
        </td>
  
    </tr>
}

</table>

<div class="text-center">
    <h4>@Html.ActionLink("Volver", "Index")</h4>
</div>
